<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PrimerServidor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
  	<servlet-name>MiPrimerServlet</servlet-name>
  	<servlet-class>edu.ucjc.damdaw.lengmarcas.appweb.servlets.Servlet1</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>CalculaEdad</servlet-name>
  	<servlet-class>edu.ucjc.damdaw.lengmarcas.appweb.servlets.CalculaEdadServlet</servlet-class>
  </servlet>

  
  
  <!-- Mappings -->
  <servlet-mapping>
  	<servlet-name>MiPrimerServlet</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>CalculaEdad</servlet-name>
  	<url-pattern>/calculaedad</url-pattern>
  </servlet-mapping>
  
<!--   <session-config> -->
<!--   	<session-timeout>5</session-timeout> -->
<!--   </session-config> -->
  
</web-app>







